h1{
    color:#429bb8;
    text-align:center;
    font-family: 'Mochiy Pop P One', sans-serif;
}

body{
    background:url(https://i.pinimg.com/564x/f4/b9/fe/f4b9fe4e03a2ef397e496ab1cde8bb26.jpg);
}
img{
    height:25%;
    width:25%;
    text-align:center;
    border:5px solid #E6E6FA;
}

h2{
    color:#429bb8;
    text-align:center;
    font-family: 'Inconsolata', monospace;
}

p{
    color:black;
    text-align:center;
}
a{
    font-family: 'Patrick Hand', cursive;
}
